body {
    font-family: helvetica;
    background-color: lightgrey;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.keyPad {
    border-style: solid;
    border-radius: 3%;
    background-color: grey;
    padding: 10px;
    margin: 30px;
    width: 350px;
    height: ;
}

.rowResetDisplay {
    display: flex;
}

.row789Divide {
    display: flex;
}

.row456Subtract {
    display: flex;
}

.row123Add {
    display: flex;
}

.operatorsAndZero {
    display: flex;
}

.numButton {
    background-color: beige;
    font-size: 35px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    width: 24%;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.numButton:hover {
    background-color: brown;
    color: white;
}

.operatorButton {
    background-color: brown;
    color: beige;
    font-size: 35px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    width: 24%;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.operatorButton:hover {
    background-color: beige;
    color: black;
}

#display {
    font-size: 35px;
    border-style: solid;
    border-color: beige;
    border-radius: 3%;
    padding: 10px;
    margin: 5px;
    text-align: right;
    width: 100%;
    color: white;
    background-color: black;
}